.blc{
    background-color: cornflowerblue;
}
.cent{
    margin: auto;
    text-align: center;
}
.foc{
    background-color: rgb(173, 255, 241);
}
::placeholder {
    color: black;
    }
.foc:focus{
    color: darkred;
    background-color: cornsilk;
}
.bac{
    background-color: rgb(173, 255, 241);
}
.bac:hover{
    background-color: azure;
    border-width: 2px;
}
@media screen and (min-width: 1280px){
    .foc{
        font-size: 1.5vw;
        margin: auto;
        }
    .bac{
        font-size: 1.5vw;
        margin: auto;
        }
    img{
        margin-bottom: 10px;
        margin-top: 20px;
        width: 15vw;
        height: 15vw;
    }
}
div{
    width: auto;
    height: auto;
}
input{
    width: auto;
}